body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #1a237e,
    #009688
  ); /* Achtergrondkleur met gradiënt */
  color: #fff; /* Tekstkleur */
}

.login-container {
  text-align: center;
  margin-top: 50px;
}

.profiles button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db; /* Knop achtergrondkleur */
  color: #fff; /* Knop tekstkleur */
  border: none;
  border-radius: 5px;
}

.profiles button:hover {
  background-color: #2980b9; /* Knop achtergrondkleur bij hover */
}

.schedule-container,
.schedule-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: #ff7c25;
  background-color: transparent;
  color: #fff;
}

/* Aangepaste stijlen voor het schema */
#schedule-grid,
#schedule-overview {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1px;
  background-color: #283593; /* Donkerblauwe achtergrondkleur van het schema */
  border-color: #283593;
}

.schedule-cell {
  border: 1px solid #303f9f; /* Donkerblauwe rand voor cel */
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #000f7e; /* Donkerblauwe cel achtergrondkleur */
  transition: background-color 0.3s; /* Voeg overgang toe voor celkleur bij hover */
}

.schedule-cell:hover {
  background-color: #303f9f; /* Donkerder blauwe cel achtergrondkleur bij hover */
}

.week-controls button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #303f9f; /* Donkerblauwe knop achtergrondkleur */
  color: #fff; /* Knop tekstkleur */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* Voeg overgang toe voor knopkleur bij hover */
}

.week-controls button:hover {
  background-color: #283593; /* Donkerder blauwe knop achtergrondkleur bij hover */
}

.scheduled-cell {
  background-color: #303f9f; /* Donkerblauwe achtergrondkleur van geplande cel */
  color: #fff; /* Tekstkleur van geplande cel */
}

.current-day {
  background-color: #b188fd;
}

.profiles button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db; /* Knop achtergrondkleur */
  color: #fff; /* Knop tekstkleur */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* Voeg overgang toe voor knopkleur bij hover */
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10rem;
}

.profiles button:hover {
  background-color: #2980b9; /* Knop achtergrondkleur bij hover */
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10rem;
}

#week-info {
  margin-top: 2.75rem;
}

#current-date {
  margin-right: 2rem;
  font-size: 30px;
}

.week-details {
  margin-top: 1rem;
}

h1 {
  margin-left: 1rem;
}

#welcome-text {
  margin-left: 1rem;
}

button {
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10rem;
  margin-bottom: 1rem;
}

/* Media Query voor schermen met een maximale breedte van 480px (mobiele telefoons) */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px; /* Pas de lettergrootte aan voor kleinere schermen */
  }

  .login-container {
    margin-top: 20px; /* Vergroot de bovenmarge voor het login-container op kleinere schermen */
  }

  .profiles button {
    font-size: 14px; /* Pas de knopgrootte aan voor kleinere schermen */
    margin: 5px; /* Verminder de marge tussen knoppen op kleinere schermen */
  }

  .week-controls button {
    font-size: 12px; /* Pas de knopgrootte aan voor kleinere schermen */
    padding: 3px 6px; /* Verminder de opvulling van de knoppen op kleinere schermen */
  }

  #current-date {
    font-size: 20px; /* Pas de datumgrootte aan voor kleinere schermen */
  }

  #week-info {
    margin-top: 1.5rem; /* Vergroot de bovenmarge voor weekinformatie op kleinere schermen */
  }

  h1 {
    margin-left: 0.5rem; /* Pas de marge aan voor koppen op kleinere schermen */
  }
}
